{% extends "rides/base.html" %}
{% block content %}
<div>
    <p><a class="mt-1 mb-1" href="{% url 'rides:driver' %}">Back</a></p>
</div>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class="Ride-Title">Arriving {{ ride.arrival_time|date:"F d, Y H:i" }} @ {{ ride.ride_destination }}
            </h3>
        </div>
        <small class="article-content">Rider: {{ ride.ride_owner.username }}</small>
        <div><small class="article-content">Vehicle Type: {{ ride.vehicle_type }}</small></div>
        <div><small class="article-content">Passenger Number: {{ ride.passenger_number }}</small></div>
        {% if ride.is_sharable %}
        <div><small class="article-content"> Sharable Ride</small></div>
        {% else %}
        <div><small class="article-content"> Non-sharable Ride</small></div>
        {% endif %}

        <div>
            <!-- <a class="btn btn-secondary btn-sm mt-1 mb-1" href=#">Update</a> -->
            {% if not object.is_complete %}
            <a class="btn btn-danger Button btn-sm mt-1 mb-1" href="{% url 'rides:complete_ride' object.id %}">Complete
                Ride</a>
            {% else %}
            <a class="mt-1 mb-1"">Already Completed Ride</a>
            {% endif %}
        </div>
    </div>
</article>
{% endblock content %}