{% extends "rides/base.html" %}
{% block content %}
<h1>Hello, Driver {{user.username}}!</h1>
<hr>
{% if not my_rides %}
<div><small class="article-content"> You have no ride to drive. </small>
    <small><a class="article-content" href="{% url 'rides:driver_find_ride' %}">Find a ride now!</a></small>
</div>
{% endif %}

{% for ride in my_rides %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class="Ride-Title">
                Arriving {{ ride.arrival_time|date:"F d, Y H:i" }} @ {{ ride.ride_destination }}
            </h3>
            <small>
                <a class="article-content" href="{% url 'rides:driver_confirmed_ride_detail' ride.id %}">Detail</a>
            </small>
        </div>
        <small class="article-content">Rider: {{ ride.ride_owner.username }}</small>
        <div><small class="article-content">Vehicle Type: {{ ride.vehicle_type }}</small></div>
        <div><small class="article-content">Passenger Number: {{ ride.total_passenger_number }}</small></div>
        {% if ride.special_request %}
        <div><small class="article-content">Special Request: {{ ride.special_request }}</small></div>
        {% else %}
        <div><small class="article-content">Special Request: None</small></div>
        {% endif %}
        {% if ride.is_sharable %}
        <div><small class="article-content"> Sharable Ride</small></div>
        {% else %}
        <div><small class="article-content"> Non-sharable Ride</small></div>
        {% endif %}
    </div>
</article>
{% endfor %}

{% endblock content%}