{% extends "rides/base.html" %}
{% block content %}
  <div class="mb-3 Login-Title" id='login-title-id'>
    <h>{{'Login Page!'}}</h>
  </div>
  {% load static %}
  <form action="{% url 'rides:login' %}" method="post">
    {% csrf_token %}
    {% if error_message %}
    <div class="alert alert-warning">{{ error_message }}</div>
    {% endif %}

    {{ login_form.as_p }}
    
    <div class="mb-3">
      <a href="{%url 'rides:register'%}">{{ 'Register?' }}</a>
    </div>
    
    <button type="submit" class="btn btn-primary  Button">Submit</button>

  </form>
{% endblock content%}