<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Register</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'mycss/login.css' %}">
</head>

<body>
  <div class="mb-3 login-class" id='login-title-id'>
    <h>{{'Register Page!'}}</h>
  </div>
  {% load static %}
  <form action="{% url 'rides:register' %}" method="post">
    {% csrf_token %}
    {% if error_message %}
    <div class="alert alert-warning">{{ error_message }}</div>
    {% endif %}
    <div class="mb-3">
      <p>Please fill in this form to create an account.</p>
    </div>

    <hr>
    {{ register_form }}
    <hr>

    <div>
      <button type="submit" class="btn btn-primary">Register</button>
    </div>

    <div class="mb-3">
      <p>Already have an account? <a href="{% url 'rides:login' %}">Sign in</a>.</p>
    </div>
  </form>