{% extends "rides/base.html" %}
{% block content %}
  <div class="mb-3 Login-Title" id='login-title-id'>
    {{'Register Page!'}}
  </div>
  {% load static %}
  <form action="{% url 'rides:register' %}" method="post">
    {% csrf_token %}
    {% if error_message %}
    <div class="alert alert-warning">{{ error_message }}</div>
    {% endif %}
    <div class="mb-3">
      <p>Please fill in this form to create an account.</p>
    </div>

    <hr>
    {{ register_form.as_p }}
    <hr>

    <div>
      <button type="submit" class="btn btn-primary Button">Register</button>
    </div>

    <div class="mb-3">
      <p>Already have an account? <a href="{% url 'rides:login' %}">Sign in</a>.</p>
    </div>
  </form>
  {% endblock content%}