{% extends "rides/base.html" %}
{% block content %}
<h1 id="owner">{{user.username}}'s Ride History </h1>
<hr>

<h3>Ride as Owner</h3>
{% if not my_rides %}
<div><small class="article-content"> You have no ride history as owner. </small>
    <small><a class="article-content" href="{% url 'rides:newride' %}">Start a ride now!</a></small>
</div>
{% endif %}

{% for ride in my_rides %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class="Ride-Title text-muted">
                Arrived {{ride.arrival_time|date:"F d, Y H:i"}} @ {{ride.ride_destination}}
            </h3>
        </div>
        <small class="article-content">Driver: {{ ride.ride_driver.username }}</small>
        <div><small class="article-content">Vehicle Type: {{ ride.vehicle_type }}</small></div>
        <div><small class="article-content">Passenger Number: {{ ride.passenger_number }}</small></div>
        {% if ride.is_sharable %}
        <div><small class="article-content"> Sharable Ride</small></div>
        {% else %}
        <div><small class="article-content"> Non-sharable Ride</small></div>
        {% endif %}
    </div>
</article>
{% endfor %}

<hr>

<h3 id="sharer">Ride as Sharer</h3>
{% if not shared_rides %}
<div><small class="article-content"> You have no ride history as sharer. </small>
    <small><a class="article-content" href="{% url 'rides:sharer_search'%}">Join a sharable ride!</a></small>
</div>
{% endif %}
{% for ride in shared_rides %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <h3 class="Ride-Title text-muted">Arrived {{ ride.arrival_time|date:"F d, Y H:i" }} @ {{
                ride.ride_destination }} </h3>
        </div>
        <small class="article-content">Driver: {{ ride.ride_driver.username }}</small>
        <div><small class="article-content">Vehicle Type: {{ ride.vehicle_type }}</small></div>
        <div><small class="article-content">Total Passenger Number: {{ ride.total_passenger_number }}</small></div>
        {% if ride.is_sharable %}
        <div><small class="article-content"> Sharable Ride</small></div>
        {% else %}
        <div><small class="article-content"> Non-sharable Ride</small></div>
        {% endif %}
    </div>
</article>
{% endfor %}

{% endblock content%}

{% block sidebar %}
<div class="col-md-3" style="position: fixed; right: 50px; top: 28%;">
    <div class="content-section">
        <h3 class="text-muted">Shortcut</h3>
        <p class='text-muted'>Links to list of contents.
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="#owner" style="color: plum">Ride as Owner</a>
            </li>
            <li class="list-group-item list-group-item-light"><a href="#sharer" style="color: plum">Ride as Sharer</a>
            </li>
        </ul>
        </p>
    </div>
</div>
{% endblock sidebar %}